{% load staticfiles %}
<a class="logo" href="{% url 'main' %}"><img src="{% static '/img/logo.png' %}" alt="logo"></a>
<a class="search" href="#"><img src="{% static '/img/search.png' %}" alt=""></a>
<input class="search_input" type="search" placeholder="Поиск">
<ul class="menu">
    {% for link in top_menu %}
        <li>
            <a href="{% url link.url %}"
                {% if request.resolver_match.url_name == link.url %}
                   class="click"
                {% endif %}
            >{{ link.text }}</a></li>
    {% endfor %}
    {% if user.is_authenticated %}
    <li>
        <a href="{% url 'auth:edit' %}">
            {{ user.first_name|default:'Пользовтаель' }}
        </a>
    </li>
    {% endif %}
    <li>
        {% if user.is_authenticated %}
            <a href="{% url 'auth:logout' %}">
                Выйти
            </a>
        {% else %}
            <a href="{% url 'auth:login' %}">
                Войти
            </a>
        {% endif %}
    </li>


    <!--<li><a class="click" href="{% url 'products:index' %}">PRODUCTS</a></li>-->
    <!--<li><a href="{% url 'contact' %}">CONTACT</a></li>-->
</ul>