{% extends 'authapp/base.html' %}
{% load staticfiles %}


{% block content %}
    <form class="form-horizontal" method="post">
        {% csrf_token %}
        {{ login_form.as_p }}
        <!--{% for field in login_form %}-->
            <!--{{field.label}}:{{field}}-->
        <!--{% endfor %}-->
        <br>
        <input class="form-control" type="submit" value="Войти">
    </form>
    <br>

        <a href="{% url 'auth:register' %}" class="">
            <input class="form-control" type="button" value="Зарегистрироваться" >
        </a>
    </input>

{% endblock %}
