{% extends 'mainapp/base.html' %}
{% load staticfiles %}
{% block title %}
    {{ block.super }} - {{ title }}
{% endblock %}
{% block back_type %}
    <div class="slider trending">
{% endblock %}
{% block wrapper %}
    <div class="block_text">
        <h3><span style="color: #43a047;">TRENDING</span></h3>
        <h2>Fishnet Chair</h2>
        <p>
            Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black or highly polished chrome.
        </p>
        <a class="button_order" href="#">Order Us<img src="{% static '/img/arrow.png' %}" alt=""></a>
    </div>
    <nav>
        <a class="circle" href="#"></a>
        <a class="circle circle_active" href="#"></a>
        <a class="circle" href="#"></a>
    </nav>
{% endblock %}
{% block content %}
    <div class="content clearfix">
               <div class="product_header">
                <ul class="menu_content">
                    <li><a class="click" href="#">Featured</a></li>
                    <li><a href="#">New</a></li>
                </ul>
                <a class="explore" href="#">explore all<img src="{% static '/img/arrow.png' %}" alt=""></a>
                </div>
                <div class="preview">
                    <a class="block_pic" href="#"><img src="{% static '/img/product-1.jpg' %}" alt="prod">
                        <div class="txt">
                            <div class="b_c"><img src="{% static '/img/arrow.png' %}" alt="arrow"></div>
                            <h3>Fishnet Chair</h3>
                            <p>Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black or highly polished chrome.</p>
                        </div>
                    </a>
                    <a class="block_pic" href="#"><img src="{% static '/img/product-2.jpg' %}" alt="prod">
                        <div class="txt">
                            <div class="b_c"><img src="{% static '/img/arrow.png' %}" alt="arrow"></div>
                            <h3>Fishnet Chair</h3>
                            <p>Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black or highly polished chrome.</p>
                        </div>
                    </a>
                    <a class="block_pic" href="#"><img src="{% static '/img/product-3.jpg' %}" alt="prod">
                        <div class="txt">
                            <div class="b_c"><img src="{% static '/img/arrow.png' %}" alt="arrow"></div>
                            <h3>Fishnet Chair</h3>
                            <p>Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black or highly polished chrome.</p>
                        </div>
                    </a>
                    <a class="block_pic" href="#"><img src="{% static '/img/product-4.jpg' %}" alt="prod">
                        <div class="txt">
                            <div class="b_c"><img src="{% static '/img/arrow.png' %}" alt="arrow"></div>
                            <h3>Fishnet Chair</h3>
                            <p>Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black or highly polished chrome.</p>
                        </div>
                    </a>
                </div>
                <div class="exclusive">
                    <div class="exclusive_left">
                        <div class="block_text_exclusive">
                            <h3>exclusive</h3>
                            <h2>Fishnet Chair</h2>
                            <p>Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black or highly polished chrome.</p>
                            <a class="button_order" href="#">Order Us<img src="{% static '/img/arrow.png' %}" alt=""></a>
                        </div>
                    </div>
                    <div class="exclusive_right">
                        <div class="block_text_exclusive">
                            <h3>exclusive</h3>
                            <h2>Fishnet Chair</h2>
                            <p>Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black or highly polished chrome.</p>
                            <a class="button_order" href="#">Order Us<img src="{% static '/img/arrow.png' %}" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="product_header">
                    <h2>Trending Products</h2>
                    <a class="explore" href="#">explore all<img src="{% static '/img/arrow.png' %}" alt=""></a>
                </div>
                <div class="pic">
                    <a href="#"><img src="{% static '/img/product-11.jpg' %}" alt=""></a>
                    <a href="product_detail.html"><img src="{% static '/img/slider1.jpg' %}" alt=""></a>
                    <a href="#"><img src="{% static '/img/product-31.jpg' %}" alt=""></a>
                    <a href="#"><img src="{% static '/img/product-41.jpg' %}" alt=""></a>
                    <a href="#"><img src="{% static '/img/product-5.jpg' %}" alt=""></a>
                    <a href="#"><img src="{% static '/img/product-6.jpg' %}" alt=""></a>
                </div>
                <div class="slider hot_deal">
                    <div class="block_text">
                        <h3>HOT DEAL</h3>
                        <h2>Fishnet Chair</h2>
                        <p>Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black or highly polished chrome.</p>
                        <a class="button_order" href="#">Order Us<img src="{% static '/img/arrow.png' %}" alt=""></a>
                    </div>
                    <nav>
                        <a class="circle" href="#"></a>
                        <a class="circle circle_active" href="#"></a>
                        <a class="circle" href="#"></a>
                    </nav>
                </div>
                <div class="exclusive_product clearfix">
                   <div class="{% static '/img_left' %}">
                        <div class="block_text_exclusive pr_c">
                                <h3>exclusive</h3>
                                <h2>Fishnet Chair</h2>
                                <p>Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black or highly polished chrome.</p>
                                <a class="button_order" href="#">Order Us<img src="{% static '/img/arrow.png' %}" alt=""></a>
                        </div>
                    </div>
                    <div class="products">
                            <a href=""><img src="{% static '/img/product-2-sm.jpg' %}" alt=""></a>
                            <div></div>
                            <a href=""><img src="{% static '/img/product-3-sm.jpg' %}" alt=""></a>
                            <a href=""><img src="{% static '/img/product-4-sm.jpg' %}" alt=""></a>
                            <div></div>
                            <a href=""><img src="{% static '/img/product-5-sm.jpg' %}" alt=""></a>
                    </div>
                </div>
                <div class="back">
                    <div class="back_text">
                        <h3>mobile app</h3>
                        <h2>find. follow. favorite.</h2>
                        <p>Save your favorites and share your style.</p>
                        <a href=""><img src="{% static '/img/app-store.jpg' %}" alt=""></a>
                        <a href=""><img src="{% static '/img/google-play.jpg' %}" alt=""></a>
                    </div>
                </div>
            </div>
{% endblock %}