<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Interior</title>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
   <!-- ====== CONTAINER ====== -->
    <div class="container clr">
            <header>
                <a class="logo" href="index.html"><img src="img/logo.png" alt="logo"></a>
                <a class="search" href="#"><img src="img/search.png" alt=""></a>
                <ul class="menu">
                   <li><a href="index.html">HOME</a></li>
                   <li><a class="click" href="products.html">PRODUCTS</a></li>
                   <li><a href="#">HISTORY</a></li>
                   <li><a href="#">SHOWROOM</a></li>
                   <li><a href="contact.html">CONTACT</a></li>
                </ul>
            </header>

        <!-- ====== CONTENT ====== --> 
        <div class="content">
            <ul class="menu_products">
                <li><a class="active" href="#">All</a></li>
                <li><a href="#">HOME</a></li>
                <li><a href="#">OFFICE</a></li>
                <li><a href="#">FURNITURE</a></li>
                <li><a href="#">MODERN</a></li>
                <li><a href="#">CLASSIC</a></li>
            </ul>
            <div class="product">
                <div>
                    <div class="prod_pic"><a href="img/slider1.jpg" target="_blank"><img src="img/slider1.jpg" alt="chair"></a></div>
                    <div class="control">
                        <a href="#"><img src="img/controll.jpg" alt="1"></a>
                        <a href="#"><img src="img/controll11.jpg" alt="1"></a>
                        <a href="#"><img src="img/controll2.jpg" alt=""></a>
                    </div>
                </div>
                <div class="prod_text">
                    <h3>Fishnet Chair</h3>
                    <h4>Hot Deal</h4>
                    <p class="price"><span>$</span> 36.7<span>/sq</span></p>
                    <a class="btn" href="#">Order Us<img src="img/arrow_white.png" alt=""></a>
                    <div class="text">
                        <p>The majesty of Mountains - Ugmonk style.</p>
                        <p>&nbsp;</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <p>&nbsp;</p>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non  proident.</p>
                    </div>
                </div>
            </div>
            <div class="product_header">
                <h2>Related Products</h2>
                <a class="explore" href="#">explore all<img src="img/arrow.png" alt=""></a>
            </div>
            <div class="pic">
                <a href="#"><img src="img/product-11.jpg" alt=""></a>
                <a href="#"><img src="img/product-21.jpg" alt=""></a>
                <a href="#"><img src="img/product-31.jpg" alt=""></a>
            </div> 
        </div>    <!-- ====== CONTENT END ====== -->
    </div>     <!-- ====== CONTAINER END ====== -->
    <!-- ====== FOOTER ====== -->
    <footer>
        <div class="info">
            <div class="contact_us">
                <a href="contact.html"><h4>Contact Us</h4></a>
                <p>132A Bridge Road Richmond VIC Australia.</p>
                <p>Talk to us on 1300 132
                <a href="mailto:info&@interior.com">info&#64;interior.com</a></p>
            </div>
            <div class="useful">
                <h4>Useful Information</h4>
                <div>
                    <a href="">Sales terms</a>
                    <a href="">Customer care</a>
                    <a href="">Delivery</a>
                </div>
                <div>
                    <a href="">Architect accounts</a>
                    <a href="">Careers</a>
                    <a href="">Exchanges &amp; returns</a>
                </div>
            </div>
            <div class="subscribe">
                <h4>Let’s Stay in Touch!</h4>
                <p>Suscribe to know about our latest news, products and special offers just for suscribers.</p>
                <form class="email" action="" method="post">
                    <input type="email" placeholder="your email address">
                    <div class="but">
                        <img src="img/send.png" alt="">
                    </div>
                </form>
            </div>
        </div>
        <div class="copyright">
            <p>&copy; Copyright - INTERIOR 2016. All Rights Reserved.</p>
            <div class="icon_soc">
                <a href="https://www.facebook.com/" target="_blank"><img src="img/facebook.png" alt=""></a>
                <a href="https://twitter.com/" target="_blank"><img src="img/twitter.png" alt=""></a>
                <a href="https://plus.google.com/" target="_blank"><img src="img/google.png" alt=""></a>
                <a href="https://www.pinterest.com/" target="_blank"><img src="img/pinterest.png" alt=""></a>
            </div>
            <p>Terms &amp; Conditions  /  Privacy policy &amp; Cookies</p>
        </div>
    </footer>    <!-- ====== FOOTER END====== -->
</body>
</html>